/* always have stylesheets imports come before tailwindcss base & utility imports */
/* @import url(./utils/styles/shadcn-plugin.css); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.tooltipText {
  opacity: 0;
}

.iconGroup:hover+.tooltipText {
  opacity: 1;
}

.iconGroup {
  cursor: pointer;
}

.toolTipWrapper:has(.iconGroup:hover) .tooltipText {
  opacity: 1;
}

.gradient-border {
  border-image: linear-gradient(to right, red, blue);
  border-image-slice: 1;
}

/* shinny button gradient colors */
.radial-gradient {
  background: radial-gradient(circle at 50% 0%,
      rgba(250, 250, 250, 0.05) 0%,
      transparent 60%),
    rgba(15, 15, 15, 1);
}

.linear-mask {
  mask-image: linear-gradient(-75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%));
  -webkit-mask-image: linear-gradient(-75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%));
}

.linear-overlay {
  background-image: linear-gradient(-75deg,
      rgba(255, 255, 255, 0.5) calc(var(--x) + 20%),
      rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
      rgba(255, 255, 255, 0.1) calc(var(--x) + 100%));
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}