/* always have stylesheets imports come before tailwindcss base & utility imports */
@import url(./utils/styles/shadcn-plugin.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.tooltipText {
  opacity: 0;
}

.iconGroup:hover+.tooltipText {
  opacity: 1;
}

.iconGroup {
  cursor: pointer;
}

.toolTipWrapper:has(.iconGroup:hover) .tooltipText {
  opacity: 1;
}

.gradient-border {
  border-image: linear-gradient(to right, red, blue);
  border-image-slice: 1;
}